{% load static %}

<html lang='pt-br'>
    <head>
        <title>{% block title %}{% endblock %} - URL SHORTER</title>
        <link rel='stylesheet' href="{% static 'css/styles.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset='utf-8'>
    </head>
    <body>
        <div class="container">
            {% include 'app/_layouts/header.html' %}
            <div class="flex card column">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
    </body>
</html>