{% extends "app/_layouts/base.html" %}

{% block title %}Create{% endblock %}
{% block header %}Batatada!{% endblock %}

{% block content %}
<form method='post'>
    {% csrf_token %}
    
    <label for="{{ form.username.id_for_label }}">
        Username
    </label>
    {{ form.username }}

    <br />
    <label for="{{ form.email.id_for_label }}">
        Email
    </label>
    {{ form.email }}

    <br />
    <label for="{{ form.password.id_for_label }}">
        Password
    </label>
    {{ form.password }}

    <br />
    <input type='submit' />
</form>

<a href="{% url 'login' %}">Login</a>
{% endblock %}